<div class="content">
   <div class="head">
     <ul>
       <li>
         <h6>房间ID: <em>{{dataItem._id}}</em></h6>
       </li>
       <li>
         <h6>房间名称:<em>{{dataItem.room.name}}</em></h6>
       </li>
       <li>
        <h6 *ngIf="dataItem.room.enableMixing===1">广播拉流地址:
          <em>{{dataItem.room.broadcast.rtmp_pull+'/'+dataItem.room.broadcast.streamId}}</em>
        </h6>
       </li>
     </ul>
   </div>
   <div class="small-video">
      <div class="small-video-right">
        <h3>本地流：</h3>
        <div id="preview" style="width:160px; height:120px;" title="preview"></div>
        <h3>远端流：</h3>
        <div id="remote">
          <div id="remote1"></div>
          <div id="remote2"></div>
          <div id="remote3"></div>
        </div>
        <div class="row">
          <div id="remote4" ></div>
          <div id="remote5" ></div>
          <div id="remote6" ></div>
        </div>
        <div class="row">
          <div id="remote7" ></div>
          <div id="remote8" ></div>
          <div id="remote9" ></div>
        </div>
        
        
        
        
        <!-- <h3>文档列表</h3>
        <div *ngFor="let item of data_item.white" class="img_box">
            <br>
            <h3>{{item.file_id}}</h3>
            <img src="{{item.file_addr}}" alt="" >
            <button nz-button [nzType]="'primary'" width='60px' *ngIf="role==='teacher'" (click) = 'imgClick(item.whitebord_url);'>
              <span>应用</span>
            </button>
        </div> -->
      </div>
     
      <!-- <div class="small-video-middle">

            <iframe class="e2e-iframe-trusted-src" name="myframe" width = '100%' height="624"  [src]="white_url"></iframe>
  
      </div> -->
   
      <div class="small-video-left">
        <div class="">
          <div class="btn-box">
            <button nz-button [nzType]="'primary'" (click)="router_jion()">
              <span>离开房间</span>
            </button>
          </div>
          <div class="btn-box">
            <button nz-button [nzType]="'primary'" *ngIf="dataItem.room.enableMixing===1" (click)="onBroadcast()">
              <span>{{broadcastButtonCaption}}</span>
            </button>
          </div>
          <div class="btn-box">
            <button nz-button [nzType]="'primary'" *ngIf="dataItem.room.enableMixing===1" (click)="onRecord()">
              <span>{{recordButtonCaption}}</span>
            </button>
          </div>
        </div>
        <div class="chat">
           <h3>聊天：</h3>
           <div class="receive">
             <li  *ngFor="let item of list">
                <div class="receive_head">{{item.username}}:</div>
                <div class="receive_msg">
                  {{item.txt}}
                </div>
             </li>
           </div>
           <div class="send">
              <nz-input [(ngModel)]="send_msg" [nzPlaceHolder]="'Basic usage'" ></nz-input>
              <button nz-button [nzType]="'primary'" (click)="sendMesage()">
                <span>发送</span>
              </button>
           </div>
        </div>
      </div>
      
   </div>
</div>
   

